<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>inform</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>projectFile.icns</string>
			<key>CFBundleTypeName</key>
			<string>Inform project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>IFProject</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>icl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iclFile.icns</string>
			<key>CFBundleTypeName</key>
			<string>Inform Control Language file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>IFSingleFile</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>inf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>infFile.icns</string>
			<key>CFBundleTypeName</key>
			<string>Inform 6 source file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>IFSingleFile</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>h</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>headerFile.icns</string>
			<key>CFBundleTypeName</key>
			<string>Inform header file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>IFSingleFile</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>i6</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>i6File.icns</string>
			<key>CFBundleTypeName</key>
			<string>Inform 6 source file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>IFSingleFile</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ni</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>niFile.icns</string>
			<key>CFBundleTypeName</key>
			<string>Inform 7 source file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>IFSingleFile</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Inform 7 extension</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>INex</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.inform-fiction.inform7.extension</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>IFSingleFile</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>skein</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-zoom-skein</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Skein XML file</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>uk.org.logicalshift.zoom.skein</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Inform</string>
	<key>CFBundleIconFile</key>
	<string>Inform.icns</string>
	<key>CFBundleIdentifier</key>
	<string>uk.org.logicalshift.inform-compiler</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>INfm</string>
	<key>CFBundleVersion</key>
	<string>1.0 6.31/3P53</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
